---
import Card from '@components/ui/Card.astro';
import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';
import Button from '@components/ui/Button.astro';

const projects = await getCollection('projects', ({ data }) => {
	return !data.inProgress && !data.open_source;
});

const currentWorking = await getCollection('projects', ({ data }) => {
	return data.inProgress;
});

const openSource = await getCollection('projects', ({ data }) => {
	return data.open_source;
});
---

<section data-testid='projects' id='projects' class='mb-10 md:mb-0'>
	<div class='flex flex-col items-center justify-center'>
		<h2 class='text-2xl text-twilight-500 dark:text-twilight-100 lg:text-4xl'>Projects</h2>
		<span class='mt-4 h-1 w-full bg-twilight-500 dark:bg-twilight-100'></span>
	</div>
	<h4 class='mt-10 text-xl text-twilight-500 dark:text-twilight-100 lg:text-3xl'>
		Currently Working On
	</h4>

	<div class='mb-10 flex flex-wrap justify-center md:justify-start'>
		{
			currentWorking.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					alt={project.data.img_alt}
					tags={project.data.tags}
				/>
			))
		}
	</div>

	<h4 class='text-xl text-twilight-500 dark:text-twilight-100 lg:text-3xl'>Worked on</h4>
	<div class='mb-10 flex w-full flex-col flex-wrap items-center md:flex-row'>
		{
			projects.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					alt={project.data.img_alt}
					tags={project.data.tags}
				/>
			))
		}
	</div>
	<h4 class='text-xl text-twilight-500 dark:text-twilight-100 lg:text-3xl'>
		OpenSource Contribution
	</h4>
	<div class='mb-10 flex w-full flex-col flex-wrap items-center md:flex-row'>
		{
			openSource.map((project) => (
				<Card
					url={project.data.link}
					title={project.data.title}
					alt={project.data.img_alt}
					tags={project.data.tags}
				/>
			))
		}
	</div>

	<a
		href='https://github.com/arionrefat?tab=repositories'
		target='_blank'
		rel='noopener'
		class='mt-10 flex items-center justify-center text-black hover:text-twilight-500 dark:text-white dark:hover:text-twilight-100'
		aria-label='link to repository'
	>
		<div class='flex items-center justify-center'>
			<Button style={'primary'} size={'lg'} class={'flex'}>
				View all projects
				<Icon
					class='h-7 text-twilight-400 dark:text-twilight-100 dark:hover:text-lightpurple-100'
					name='tabler:arrow-big-right'
				/>
			</Button>
		</div>
	</a>
</section>
